:root {
    --vert: #4f805d;
    --verthover: #187323;
    --vertclair: #00CE15;
    --bleu:#DDEEFFFF;
    --bleuclair: #DDEEFFFF;
    --red: rgb(255, 0, 0);
}
* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

a{text-decoration: none}

body {
    background-color: #DDEEFFFF;
    color: black;
    font: 400 13px/1.3 "Source Sans Pro", sans-serif;
    overflow-x: hidden;
}
html{
    position:relative;
}

ul, ol {
    list-style: none;
}

img {
    width: 100%;
}

.clear:before, .clear:after {content: ' '; display: table;}
.clear:after {clear: both;}
.clear {*zoom: 1;}


.wrap {
    max-width: 1300px;
    margin: auto;
    width: 100%;
}

.flex {display: flex;}
.column {flex-direction: column}
.sb {justify-content: space-between}
.sa {justify-content: space-around}
.bold {font-weight: bold}
.relative {position: relative}
.absolute {position: absolute}



/*HEADER*/

header{
    background-color:white;
    z-index: 9999;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}
header ul{
    align-items: center;
}
header li .flex a{
    text-decoration: none;
    color: white;
    background-color: #00CE15;
    border-radius: 100px;
    padding: 1rem;
    width: 200px;
    text-align: center;
    font-size: 1rem;
    margin-right: 2rem;

}
header li .flex a:hover{
    background-color: var(--verthover);
    border-color: var(--verthover);
}



/*FOOTER*/
footer .separator {
    border-left:solid 1px white;
    height:70px;
}
footer .diagVerte{
    width: 100%;
    height: 100%;
    border-bottom: 100px solid var(--vertclair);
    border-left: 2560px solid transparent;
    background-color:var(--bleu);
}
footer .footerContent{
    padding:2rem 0;
    background-color:var(--vertclair) ;
}
footer .navFooter a{
    color:white;
}

/* Underline styles */
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: white;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* ---------- */

footer .wrap{
    justify-content: center;
    gap:5rem;
}
footer .reseauxFooter{
    display:flex;
    align-items: center;
}
footer .logoFooter a img{
    width:200px;
}

footer .reseauxFooter i{
    color: white;
    margin-right: 20px;
    font-size: 30px;
}




 /*ACCEUIL*/
.flexslider {
    width: 100%;
    max-width: 1220px;
    height: 600px;
    overflow: hidden;
    margin: 0 auto 5rem auto;
}
.flexslider img {
    transform: translateY(-15%);
}
#flexsliderTexte {
    padding: 5rem;
    border-radius: 20px;
    z-index: 10;
    background-color: white;
    bottom: -35px;
    left: 50%;
    transform: translate(-50%, 0);
    border-top: 4px solid var(--vertclair);
    border-right: 4px solid var(--vertclair);
    border-left: 4px solid var(--vertclair);
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}
#flexsliderTexte h2{
    font-size: 2rem;
    color:#00CE15;

}
#flexsliderTexte > p {
    font-size: 2rem;
    font-weight: 100;
}

#flexsliderTexte h3 {
    font-weight: 400;
}
#flexsliderTexte .moitieTexte {
    width: 45%;
    font-size: 1rem;
    height: auto;
    padding: 1rem;

}

/*#flexsliderTexte .moitieTexte h3 {
    padding : 1rem;
}*/
#flexsliderTexte  a {
    text-decoration: none;
}
#flexsliderTexte .moitieTexte a p {
    border-radius: 60px;
    padding: 10px;
    color: white;
    background: var(--vertclair);
}
#flexsliderTexte .moitieTexte a p:hover{
    background-color: var(--verthover);
    border-color: var(--verthover);
}

#flexsliderTexte  a {
    /*width: 140px;*/
    height: 45px;
    font-size: 11px;
    font-family: "Source Sans Pro" , sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    /*box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);*/
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    display: flex;
    /*margin: 0 auto;*/
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    /*margin-bottom: 5rem;*/
}

#flexsliderTexte  a:hover {
    background-color: var(--vertclair);
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
} 

#sectionCentrale .boite {
    background-color: white;
    width: 31%;
    border-top: 4px solid var(--vertclair);
    border-right: 4px solid var(--vertclair);
    border-left: 4px solid var(--vertclair);
    text-align: center;
    border-radius: 20px;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    padding: 2rem;
}
#sectionCentrale .boite h2{
    padding: 1rem;

}
#sectionCentrale .boite p{
   font-size: 1.5rem;
    font-weight: 100;

}
#sectionCentrale .boite i {
    color: var(--vertclair);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 2rem;
}
#sectionCentrale .boite:nth-of-type(2) i {
    color: #F4DE18;
}
.recommendation{
    margin-top: 3rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
}
.avis img {
    width: 10%;
    height: 30%;
    margin-right: 6rem;
}

.avisNounous {
    height: 0;

}
#btnNounous, #btnParents {
    padding: 0.5rem;
    border-radius: 20px;
    background-color: white;
    border-top: 4px solid var(--vertclair);
    border-right: 4px solid var(--vertclair);
    border-left: 4px solid var(--vertclair);
    text-align: center;
    margin-top: 2rem;
    font-size: 1rem;
}
.boutonAccueil {
    margin-right: 1rem;
}
.avisNounous, .avisParents  {
    overflow: hidden;
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 100;
    z-index: 9;

}
.palmier {
    width: 360px;
    position: absolute;
    z-index: -1;
    top: 600Px;
    right: -40px;
    transform: rotate(-20deg);
}
.palmier2 {
    width: 360px;
    position: absolute;
    z-index: -2;
    top: 600Px;
    left: -40px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1) rotate(-20deg);


}
.fa-star{color:yellow;}
/*PAGE CHOIX CREATION COMPTE*/


#inscriptionChoix{
    padding-top:3rem;
 background-color:#DDEEFFFF;

}
#inscriptionChoix .wrap{
    display:flex;
    flex-flow:column;
    align-items: center;
    gap:5rem;
}
#inscriptionChoix .wrapper {
    padding: 1.5rem 0;
    filter: url('#goo');
}

#inscriptionChoix .boutonChoix{
    display:flex;
    gap:3rem;
}
#inscriptionChoix .button {
    display: inline-block;
    text-align: center;
    background: white;
    color: black;
    font-weight: bold;
    padding: 1.18em 1.32em 1.03em;
    line-height: 1;
    border-radius: 1em;
    position: relative;
    min-width: 8.23em;
    text-decoration: none;
    font-size: 1.25rem;
}
#inscriptionChoix .button:before,
#inscriptionChoix .button:after {
    width: 4.4em;
    height: 2.95em;
    position: absolute;
    content: "";
    display: inline-block;
    background: white;
    border-radius: 50%;
    transition: transform 1s ease;
    transform: scale(0);
    z-index: -1;
}
#inscriptionChoix .button:before {
    top: -25%;
    left: 20%;
}
#inscriptionChoix .button:after {
    bottom: -25%;
    right: 20%;
}
#inscriptionChoix .button:hover:before,
#inscriptionChoix .button:hover:after {
    transform: none;
}


.spring  {

    --flower1: #dad;
    --flower2: purple;
    --flower3:red;
    width: 500px;
    aspect-ratio: 1;
    position: relative;
    background:
        /* flower 1 */
            radial-gradient(circle at 20% 60%, gold 1%, #0000 0),
            radial-gradient(200% 50% at 18% 60%, var(--flower1) 1%, #0000 0),
            radial-gradient(100% 150% at 20% 58%, var(--flower1) 1%, #0000 0),
            radial-gradient(circle at 18.5% 59%, var(--flower1) 1.5%, #0000 0),
            radial-gradient(circle at 18.5% 61.5%, var(--flower1) 1.5%, #0000 0),
            radial-gradient(circle at 21% 61.5%, var(--flower1) 1.75%, #0000 0),
            radial-gradient(circle at 21.5% 59%, var(--flower1) 1.5%, #0000 0),
            radial-gradient(farthest-side at 100% 60%, #0000 90%, green 0 99.9%, #0000 0) 17.5% 80% / 5% 25% no-repeat,
            radial-gradient(farthest-side at 50% 100%, green 99.9%, #0000 0) 18.5% 70% / 8% 1.5% no-repeat,
            radial-gradient(farthest-side at 50% 20%, green 99.9%, #0000 0) 10% 75% / 8% 1.5% no-repeat,
                /* flower 2 */
            radial-gradient(circle at 25% 70%, gold 1%, #0000 0),
            radial-gradient(340% 150% at 25% 70.5%, var(--flower1) 1%, #0000 0),
            radial-gradient(100% 150% at 25% 68%, var(--flower1) 1%, #0000 0),
            radial-gradient(circle at 23.5% 69%, var(--flower1) 1.5%, #0000 0),
            radial-gradient(circle at 23.5% 71.5%, var(--flower1) 1.5%, #0000 0),
            radial-gradient(circle at 26% 71.5%, var(--flower1) 1.75%, #0000 0),
            radial-gradient(circle at 26.5% 69%, var(--flower1) 1.5%, #0000 0),
            radial-gradient(farthest-side at 0% 75%, #0000 80%, green 0 99.9%, #0000 0) 25.5% 82% / 2% 15% no-repeat,
                /* flower 3 */
            radial-gradient(circle at 30% 50%, gold 1%, #0000 0),
            radial-gradient(340% 150% at 30% 50.5%, var(--flower3) 1%, #0000 0),
            radial-gradient(100% 150% at 30% 48%, var(--flower3) 1%, #0000 0),
            radial-gradient(circle at 28.5% 49%, var(--flower3) 1.5%, #0000 0),
            radial-gradient(circle at 28.5% 51.5%, var(--flower3) 1.5%, #0000 0),
            radial-gradient(circle at 31% 51.5%, var(--flower3) 1.75%, #0000 0),
            radial-gradient(circle at 31.5% 49%, var(--flower3) 1.5%, #0000 0),
            radial-gradient(farthest-side at 0% 55%, #0000 88%, green 0 99.9%, #0000 0) 30.5% 77% / 4% 35% no-repeat,
            radial-gradient(farthest-side at 50% 0%, green 99.9%, #0000 0) 28.5% 66% / 6% 1.25% no-repeat,
                /* flower 4 */
            radial-gradient(circle at 38% 58%, gold 1%, #0000 0),
            radial-gradient(350% 180% at 38% 57.75%, var(--flower2) 1%, #0000 0),
            radial-gradient(circle at 37.5% 55.5%, var(--flower2) 1.5%, #0000 0),
            radial-gradient(circle at 37% 60%, var(--flower2) 1.5%, #0000 0),
            radial-gradient(circle at 39.25% 60%, var(--flower2) 1.75%, #0000 0),
            radial-gradient(circle at 39.75% 55.75%, var(--flower2) 1.5%, #0000 0),
            radial-gradient(farthest-side at 100% 70%, #0000 75%, green 0 99.9%, #0000 0) 37.75% 78.5% / 2% 30% no-repeat,
                /* flower 5 */
            radial-gradient(circle at 45% 65%, gold 1%, #0000 0),
            radial-gradient(350% 200% at 45% 65.5%, var(--flower1) 1%, #0000 0),
            radial-gradient(100% 150% at 45% 63%, var(--flower1) 1%, #0000 0),
            radial-gradient(circle at 43.25% 63.5%, var(--flower1) 1.5%, #0000 0),
            radial-gradient(circle at 44% 67%, var(--flower1) 1.5%, #0000 0),
            radial-gradient(circle at 46.25% 66.25%, var(--flower1) 1.75%, #0000 0),
            radial-gradient(circle at 46.75% 63.75%, var(--flower1) 1.5%, #0000 0),
            radial-gradient(farthest-side at 100% 70%, #0000 75%, green 0 99.9%, #0000 0) 44.5% 80% / 2% 20% no-repeat,
                /* flower 6 */
            radial-gradient(circle at 50% 71%, gold 1%, #0000 0),
            radial-gradient(350% 130% at 50% 71.5%, var(--flower2) 1%, #0000 0),
            radial-gradient(100% 150% at 50% 69%, var(--flower2) 1%, #0000 0),
            radial-gradient(circle at 48.25% 69.5%, var(--flower2) 1.5%, #0000 0),
            radial-gradient(circle at 49% 73%, var(--flower2) 1.5%, #0000 0),
            radial-gradient(circle at 51.25% 72.75%, var(--flower2) 1.75%, #0000 0),
            radial-gradient(circle at 51.75% 69.75%, var(--flower2) 1.5%, #0000 0),
            radial-gradient(farthest-side at 20% 68%, #0000 72%, green 74% 98%, #0000 100%) 50.5% 83% / 2% 14% no-repeat,
                /* flower 7 */
            radial-gradient(circle at 55% 63%, gold 1%, #0000 0),
            radial-gradient(350% 130% at 55% 63.5%, var(--flower1) 1%, #0000 0),
            radial-gradient(circle at 54.25% 61.5%, var(--flower1) 2%, #0000 0),
            radial-gradient(circle at 54% 65%, var(--flower1) 1.5%, #0000 0),
            radial-gradient(circle at 56.25% 64.75%, var(--flower1) 1.75%, #0000 0),
            radial-gradient(circle at 56.75% 61.75%, var(--flower1) 1.5%, #0000 0),
            radial-gradient(farthest-side at 20% 70%, #0000 72%, green 74% 98%, #0000 100%) 55.5% 80% / 2% 24% no-repeat,
                /* flower 8 */
            radial-gradient(circle at 62% 68%, gold 1%, #0000 0),
            radial-gradient(330% 170% at 62% 68.5%, var(--flower3) 1%, #0000 0),
            radial-gradient(circle at 60.5% 66.5%, var(--flower3) 1.5%, #0000 0),
            radial-gradient(circle at 63% 66.75%, var(--flower3) 2%, #0000 0),
            radial-gradient(circle at 61% 70%, var(--flower3) 1.75%, #0000 0),
            radial-gradient(circle at 63% 69.75%, var(--flower3) 1.75%, #0000 0),
            radial-gradient(farthest-side at 0% 60%, #0000 75%, green 76% 97%, #0000 0) 63% 81% / 2% 18% no-repeat,
            radial-gradient(farthest-side at 50% 100%, #7c8 99.9%, #0000 0) 59.5% 74.5% / 6% 0.75% no-repeat,
            radial-gradient(farthest-side at 50% 100%, green 99.9%, #0000 0) 59.5% 74% / 6% 1.25% no-repeat,
            radial-gradient(farthest-side at 50% 20%, green 99.9%, #0000 0) 48.5% 80% / 5% 1% no-repeat,
                /* flower 9 */
            radial-gradient(circle at 68% 53%, gold 1%, #0000 0),
            radial-gradient(330% 170% at 68% 53.5%, var(--flower1) 1%, #0000 0),
            radial-gradient(110% 140% at 68% 51%, var(--flower1) 1%, #0000 0),
            radial-gradient(circle at 66.25% 51.5%, var(--flower1) 1.5%, #0000 0),
            radial-gradient(circle at 67% 55%, var(--flower1) 1.5%, #0000 0),
            radial-gradient(circle at 69% 54.75%, var(--flower1) 1.75%, #0000 0),
            radial-gradient(circle at 69.25% 51.75%, var(--flower1) 1.5%, #0000 0),
            radial-gradient(farthest-side at 10% 60%, #0000 75%, green 76% 97%, #0000 0) 69% 78% / 3% 35.5% no-repeat,

                /* flower 10 */
            radial-gradient(circle at 75% 73%, gold 1%, #0000 0),
            radial-gradient(330% 130% at 75% 73.5%, var(--flower3) 1%, #0000 0),
            radial-gradient(110% 140% at 75% 71%, var(--flower3) 1%, #0000 0),
            radial-gradient(circle at 73.25% 71.5%, var(--flower3) 1.5%, #0000 0),
            radial-gradient(circle at 74% 75%, var(--flower3) 1.5%, #0000 0),
            radial-gradient(circle at 76% 74.75%, var(--flower3) 1.75%, #0000 0),
            radial-gradient(circle at 76.25% 71.75%, var(--flower3) 1.5%, #0000 0),
            radial-gradient(farthest-side at 10% 60%, #0000 75%, green 76% 97%, #0000 0) 76% 84% / 2% 12% no-repeat,
            radial-gradient(farthest-side at 50% 100%, green 99.9%, #0000 0) 74.75% 64% / 7% 1.25% no-repeat,
                /* flower 11 */
            radial-gradient(circle at 83% 62%, gold 1%, #0000 0),
            radial-gradient(330% 170% at 83% 62.5%, var(--flower2) 1%, #0000 0),
            radial-gradient(circle at 81.5% 60.5%, var(--flower2) 1.5%, #0000 0),
            radial-gradient(circle at 82% 64%, var(--flower2) 1.5%, #0000 0),
            radial-gradient(circle at 84% 63.75%, var(--flower2) 1.75%, #0000 0),
            radial-gradient(circle at 84% 60.5%, var(--flower2) 1.65%, #0000 0),
            radial-gradient(farthest-side at 10% 60%, #0000 75%, green 76% 97%, #0000 0) 84% 81.5% / 3% 25.5% no-repeat,
                /* ground */
            radial-gradient(100% 20% at 50% 90%, #7c8 45%, #0000 45.25%),
            radial-gradient(100% 20% at 50% 83%, #7c8 49%, #0000 49.25%),
                /* sun */
            radial-gradient(circle at 50% 0%, #0000 20%, #d90c 0 33%, #0000 0) 34.33% 30% / 5% 5% no-repeat,
            radial-gradient(circle at 32% 26%, #d90c 1%, #0000 0),
            radial-gradient(circle at 38% 26%, #d90c 1%, #0000 0),
            radial-gradient(circle at 35% 25%, #fe0 12%, #fd0c 0, #0000 25%),
                /* cloud */
            radial-gradient(circle at 50% 68%, #fff 10%, #0000 10.25%),
            radial-gradient(circle at 66% 70%, #fff 13%, #0000 13.25%),
            radial-gradient(circle at 76% 75%, #fff 8%, #0000 8.25%),
            radial-gradient(circle at 26% 78%, #fff 8%, #0000 8.25%),
            radial-gradient(circle at 37% 70%, #fff 9%, #0000 9.25%),
            radial-gradient(circle at 50% 60%, #f0f8ff 20%, #0000 20.25%),
            radial-gradient(circle at 30% 70%, #f0f8ff 12%, #0000 12.25%),
            radial-gradient(circle at 33% 53%, #f0f8ff 7%, #0000 6.25%),
            radial-gradient(circle at 16% 73%, #f0f8ff 8%, #0000 8.25%),
            radial-gradient(circle at 76% 73%, #f0f8ff 14%, #0000 14.25%),
            radial-gradient(circle at 68% 58%, #f0f8ff 8%, #0000 8.25%),
            radial-gradient(circle at 66% 80%, #f0f8ff 17%, #0000 17.25%),
                /* bg */
            linear-gradient(#def 0 0);
}

@keyframes fly {
    0%  { left: 60%; transform: rotateY(0); }
    50% { left: 30%; transform: rotateY(0); }
    51% { left: 30%; transform: rotateY(180deg); }
    99% { left: 60%; transform: rotateY(180deg); }
    100% { left: 60%; transform: rotateY(0); }
}

.spring::before {
    content: "";
    animation: fly 5s infinite;
    position: absolute;
    top: 48%;
    left: 60%;
    width: 8%;
    height: 6%;
    border-radius: 50%;
    background:
            radial-gradient(circle at 26% 50%, #000 7%, #0000 0),
            radial-gradient(circle at 10% 50%, #000 5%, #0000 0),
            radial-gradient(circle at 50% 0%, #0000 20%, #000 0 60%, #0000 0) 15% 70% / 10% 15% no-repeat,
            radial-gradient(100% 200% at 0 50%, #0000 40%, #000 0 53%, #0000 0 66%, #000 0 80%, #0000 0 90%, #000 0);
    background-color: gold;
    box-shadow: 0 -20px 0 -5px #fffa, 10px -20px 0 -5px #fff, 17px 0 0 -13.5px;
}


/*INSCRIPTION FORM*/
#formulaire{
    padding-top:5rem;
}
#formulaire .wrap{
    display:flex;
    flex-flow:column;
    align-items: center;
}
#formulaire .wrap form div span{
    color:red;
}

#formulaire .filAriane {
    width: 50%;
    margin: 0 auto;
    justify-content: center;
}
#formulaire .btnEtape1, #formulaire .btnEtape2, #formulaire .btnEtape3 {
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 5px;
    margin: auto 0;
    justify-content: center;
    line-height: 1.5;
}
#formulaire .arianeSep {
    margin: auto 0;
    background-color: var(--vertclair);
    width: 10%;
    height: 2px;
}
#formulaire .btnEtape2, #formulaire .btnEtape3 {
    background-color: grey;
    cursor: default;

}
.form1{
    display:flex;
    flex-flow: column;
    align-items: center;
    gap:2rem;
}
.form2{
    display:flex;
    flex-flow: column;
    align-items: center;
    gap:2rem;
}
.form3{
    display:flex;
    flex-flow: column;
    align-items: center;
    gap:2rem;
}
.info_box{
    display:flex;
    flex-flow:column;
    justify-content: center;
    width:100%;
}
#formulaire > div > h2 {
    padding: 2rem;
    color: var(--vertclair);
}
.info_box input{

    border:solid 5px var(--vertclair);
    padding:.75rem 1rem;
    border-radius: 10px;
}
.info_box select{
    border:solid 5px var(--vertclair);
    padding:.75rem 1rem;
}
.info_box textarea{
    resize:none;
    border:solid 5px var(--vertclair);
    padding:.75rem 1rem;
    height:200px;

}
.info_box .tauxHoraire{
    display:flex;
    align-items:center;
}
.info_box .tauxHoraire p{
    font-size:1.5rem;
}
#formulaire button{
    border: solid 1px var(--vertclair);
    border-radius:10px;
    color:white;
    background-color: var(--vertclair);
    padding:1rem 2rem;
    font-size:1rem;
    font-weight: bold;
    cursor:pointer;
    margin-bottom:2rem;
    display:flex;
    gap:2rem

}
#formulaire button:hover{
    background-color: var(--verthover) ;
    border-color: var(--verthover);
}
#formulaire label{
    font-weight:bold;
    color: var(--vertclair);
}
#formulaire .button{
    border: solid 1px var(--vertclair);
    border-radius:10px;
    color:white;
    background-color: var(--vertclair);
    padding:1rem 5rem;
    font-size:1rem;
    cursor:pointer;
    margin-bottom:2rem;
}

/*CONNEXION*/
#connexion{
    padding-top:5rem;
    padding-bottom:5rem;
    font-size:1.25rem;
}
#connexion .wrap{
    display:flex;
    justify-content: center;
    gap:10rem;
}
#connexion .separator{
    border: solid 1px white;
    height:600px;
}
#connexion form{
    display:flex;
    flex-flow:column;
    gap:4rem;
    align-items: center;
}
#connexion form{
    width:50%
}
#connexion .textPart{
    width:50%
}
#connexion .textPart .photo{
    width:80%;
}
#connexion .infoBox{
    display:flex;
    flex-flow: column;
}
.infoBox{
    display:flex;
    flex-flow:column;
    justify-content: center;
    width:80%;
}
.infoBox input{
    border:solid 5px var(--vertclair);
    padding:.75rem 1rem;
}
#connexion .button{
    border: solid 1px var(--vertclair);
    border-radius:10px;
    color:white;
    background-color: var(--vertclair);
    padding:.75rem 3rem;
    font-size:1rem;
    cursor:pointer;
    margin-bottom:2rem;
    font-weight:bold;
}
#connexion .button:hover{
    background-color: var(--verthover);
}
#connexion .textPart{
    display:flex;
    flex-flow:column;
    justify-content: center;
    align-items: center;
    gap:5rem;
}
#connexion .textPart a{
    border: solid 1px var(--vertclair);
    border-radius:10px;
    color:white;
    background-color: var(--vertclair);
    padding:.75rem 3rem;
    font-size:1rem;
    cursor:pointer;
    margin-bottom:2rem;

}
#connexion .textPart a:hover{
    background-color: var(--verthover);
    border: var(--verthover);
}
#connexion .button:hover{
    background-color: var(--verthover);
    border: var(--verthover);
}


/*PROFIL*/
#profil{
    padding:5rem 0;
}
#profil .wrap{
    display:flex;
    flex-flow:column;
    align-items: center;
    gap:5rem;
}
#profil .profil_top{
    gap: 1rem;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    text-align: center;
}
#profil .titre{
    font-size:1.5rem;
    color: var(--vertclair);
}
#profil > div > div.profil_mid > div > form > p {
    color: grey;
    text-align: center;
}

#profil .profil_pp .img{
    width:250px;
    height:250px;
    border-radius:50%;
    background-color:white;
}
#profil .profil_pp .img:hover{
    filter: grayscale(90%);
}
#profil .separator{
    width:80%;
    border-bottom:solid 5px white;
}
#profil .profil_mid{
    display:flex;
    flex-flow:column;
    align-items: center;
    gap:3rem;
}

#profil .profil_mid .mid_txt{
    border:solid 1px #eee3d3;
    padding:1rem ;
    background-color:#2bc0002e;
    border-radius: 10px;
    font-size:1.25rem;
    width:48%;
}
#profil .mid_flex{
    display:flex;
    flex-flow:row wrap;
    justify-content: space-around;
    gap:2Rem;
}
#profil .bottom_part{
    display:flex;
    flex-flow:column;
    align-items:center;
    gap:2rem;
}
#profil .liste_enfant{
    display:flex;
    flex-flow:column;
    align-items: center;
    gap:2rem;
}

#profil .box_enfant{
    display:flex;
    align-items:center;
    justify-content:space-around;
    border:solid 1px #eee3d3;
    background-color:#2bc0002e;
    border-radius:10px;
    padding:2Rem;
    gap:2rem;
    width:80%;

}
#profil .box_enfant .img{
    width:10%;
}
#profil .box_enfant .right_part{
display:flex;
    flex-flow:column;
    gap:1rem;
}
#profil .box_enfant .link{
    display:flex;
    flex-flow:column;
    gap:1rem;
}
#profil .box_enfant .link a{
    color: var(--red);
}
#profil .erreur_enfant{
    color:red;
    font-size:1rem;
}
#profil .modif_button{
    border:solid 1px var(--verthover);
    background-color: white;
    color:black;
    padding:1rem;
    border-radius:50px;
}
#profil .modif_button:hover{
    background-color:var(--verthover);
    color:white;
}

 /*POPUP PROFIL*/
#popup{
    z-index:9999999999999;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background: rgba(0, 0, 0, 0.77);
    position:absolute;
    justify-content:center;
    align-items:center;
}

#popup form{
    display:flex;
    flex-flow:column;
    border:solid 3px white ;
    border-radius:10px;
    background-color: white;
    padding:1Rem;
    gap:2Rem;
    width:25%;
}
#popup .popup_box{
    display:flex;
    flex-flow:column;
}
#popup form i{
    font-size:2rem;
}
#popup form i:hover{
    color:var(--vertclair);
}
#popup .popup_box input{
   border:solid 3px var(--vertclair);
    border-radius:10px;
    padding:.7rem;
}

#popup select{
    border:solid 3px var(--vertclair);
    border-radius:10px;
    padding:.7rem;
}
#popup .button{
    border:solid 3px var(--vertclair);
    background-color: white;
    border-radius:10px;
    padding:.7rem;
    color:var(--vertclair);
}

.custom-file-input {
    color: transparent;
}
.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}
.custom-file-input::before {
    content: 'Choisir le carnet de santé';
    color: black;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}
.custom-file-input:hover::before {
    border-color: black;
}

#popup .button:hover{
    background-color: var(--vertclair);
    color:white;
}
#popup .popup_box textarea{
    resize:none;
    border:solid 3px var(--vertclair);
    border-radius:10px;
    padding:.7rem;
    height:100px;
}
#popup .erreur{
    color:red;
}


.hidden{display:none;}


/*MODIF PROFIL*/

.profil_mid .wrapform{
    display:flex;
    flex-flow:column;
    gap:1rem;
    width:100%;
}
.profil_mid .modif_box{
    display:flex;
    flex-flow: column;
}
.profil_mid .titre{
    display:flex;
    flex-flow: column;
}
.profil_mid .modif_box label{
    color: var(--vertclair);
    font-weight: 600;

}
.profil_mid .modif_box input{
    padding: 1Rem;
    box-sizing: border-box;
    border: 2px solid var(--vertclair);
    border-radius: 4px;
    color: var(--verthover);
    background-color: white;
    font-size: 16px;
}
.profil_mid .modif_box textarea{
    resize: none;
    padding: 1Rem;
    box-sizing: border-box;
    border: 2px solid var(--vertclair);
    border-radius: 4px;
    color: var(--verthover);
    background-color: white;
    font-size: 16px;
}
.profil_mid .tauxHoraire_modif{
    display:flex;
    align-items: center;
}
.profil_mid .tauxHoraire_modif .tauxHoraireTxt{
    font-size:1rem;
}
.profil_mid .erreur{
    color:red;
}
.profil_mid .button{
    color:var(--vertclair);
    border:solid 3px var(--vertclair);
    background-color:white;
    padding:1rem;
}
.profil_mid .button:hover{
    border:solid 3px var(--vertclair);
    background-color:var(--vertclair);
    color:white;
    padding:1rem;
}

/*FORMULAIRE AJOUT DE DISPO*/
.formAjoutDispo input[type='radio'],.formAjoutDispo input[type='checkbox'] {
    opacity: 0;
    position: fixed;
    width: 0;
}
.formAjoutDispo label {
    text-align: center;
    display: block;
    background-color: white;
    padding: 10px 20px;
    outline: 2px solid var(--vertclair);
    margin-bottom: 2px;
}
.formAjoutDispo label:nth-of-type(1) {

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.formAjoutDispo label:last-of-type {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.formAjoutDispo input[type="radio"]:checked + label, .formAjoutDispo input[type="checkbox"]:checked + label {
     background-color:var(--vertclair);
}
.formAjoutDispo input[type="radio"]:hover + label, .formAjoutDispo input[type="checkbox"]:hover + label {
    outline: 2px dashed var(--vertclair);
}
.formAjoutDispo .listeHeures {
    justify-content: center;
    margin: 1rem auto;
}
.formAjoutDispo .listeHeures div label {
    margin: 3px;
}
#date {
    border-radius: 50px;
    border-color: var(--vertclair);
    display: flex;
    margin: 0 auto;
    margin-top: 1rem;
}
#places {
    text-align: center;
    display: flex;
    margin: 10px auto;
    border-radius: 50px;
    border-color: var(--vertclair);
}

.envoieDispo {
    width: 140px;
    height: 45px;
    font-size: 11px;
    font-family: "Source Sans Pro" , sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.envoieDispo:hover {
    background-color: var(--vertclair);
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}


/*DETAILS DE DISPOS*/
.dispoDetails input[type='checkbox'] {
    opacity: 0;
    position: fixed;
    width: 0;
}
.dispoDetails label {
    text-align: center;
    display: block;
    background-color: white;
    padding: 10px 20px;
    outline: 2px solid var(--vertclair);
    margin-bottom: 2px;
    margin-inline: 1rem;
}
.dispoDetails label:nth-of-type(1) {

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.dispoDetails label:last-of-type {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.dispoDetails input[type="checkbox"]:checked + label {
    background-color:var(--vertclair);
}
.dispoDetails input[type="checkbox"]:hover + label {
    outline: 2px dashed var(--vertclair);
}
.dispoDetails .listeHeures {
    justify-content: center;
    margin: 1rem auto;
}
.dispoDetails .listeHeures div label {
    margin: 3px;
}

/*FACTURE*/
#facture .wrap{
    display:flex;
    flex-flow:column;
    background: white;
    border:solid 1px black;
    padding:3rem;
    max-width: 980px;
    margin: auto;
    width: 100%;
    margin-top: 2rem;
}
#facture .top{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#facture .top img{
    width:100px;
}
#facture .top2{
    padding-top:5rem;
    display:flex;
    gap:4rem;
}
#facture .top3{
    padding-top:3rem;
    display:flex;
    gap:4rem;
}
#facture .prix{
    padding-top:3rem;
    display:flex;
    flex-flow:column;
}
#facture .mid{
    padding-top:3rem;
    display:flex;
    flex-flow:column;
}
#facture .table{
    display:flex;
    flex-flow:column;

}
#facture .col{
    display:flex;
    justify-content: space-between;
}
#facture .footer{
    padding-top:5rem;
    display:flex;
    flex-flow:column;
    align-items:center;
    gap:2rem;
}
#facture .footer .info{
    display:flex;
}
#facture .footer .separator{
    border-bottom:solid 1px black;
    width:80%;
}


/* DISPONIBILITES */
#disponibilites h1{
    margin-top: 100px;
    color: var(--vertclair);
    margin-bottom: 1rem;
    text-align: center;
}
#disponibilites a{
    color: var(--vertclair);

}
#disponibilites a:hover{
    color: var(--vert);

}

#ajoutdispo h1{
    margin-top: 50px;
    color: var(--vertclair);
    margin-bottom: 10px;
    margin-right: 1rem;
    margin-left: 1rem;
}
#disponibilites .lieux{
    margin-bottom: 1rem;
    margin-inline: 1rem;
}
.filters{
    flex-flow: column;
    align-items: center;
    margin: 0 auto;
}
.filters input {
    padding: 3px;
    box-sizing: border-box;
    border: 2px solid var(--vertclair);
    border-radius: 4px;
    color: var(--verthover);
    background-color: white;
    font-size: 16px;
}
.filters label{
    padding: 0.5rem;
    font-weight: 600;
    color: var(--vertclair);
}
#filterBtn{
    width: 200px;
    height: 45px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 11px;
    font-family: "Source Sans Pro" , sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
#filterBtn:hover {
    background-color: var(--vertclair);
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
#ajoutdispo a {
    width: 200px;
    height: 45px;
    font-size: 11px;
    font-family: "Source Sans Pro" , sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    display: flex;
    margin: 15px auto;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#ajoutdispo a:hover {
    background-color: var(--vertclair);
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.dispo {
    padding: 2rem;
    margin-bottom: 4rem;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    margin-right: 1rem;
    margin-left: 1rem;


}



.dispoDetails h1 {
    margin-top: 100px;
    margin-bottom: 1rem;
    color: var(--vertclair);
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
}

.dispoDetails p {
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    padding-bottom: 1rem;
}
.dispoDetails .dispoMap{
    margin-left: 30%;
    width: 40%;
    margin-bottom: 2rem;
}
.dispoDetails h2 {
    text-transform: uppercase;
    color: var(--vertclair);
    margin-left: 1rem;

}

.dispoDetails .detailp {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 3rem;
    width: 55%;
}

.detailsSuivantBtn {
    width: 140px;
    height: 45px;
    font-size: 11px;
    font-family: "Source Sans Pro" , sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.detailsSuivantBtn:hover {
    background-color: var(--vertclair);
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.detailsPartieDeux .submit {
    width: 140px;
    height: 45px;
    font-size: 11px;
    font-family: "Source Sans Pro" , sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;

}

.detailsPartieDeux .submit:hover {
    background-color: var(--vertclair);
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
.detailsPartieDeux textarea {
    height: 100px;
    width: 100%;
    padding: 5px;
    resize: none;
    margin-bottom: 1rem;
    font-family: "Source Sans Pro", sans-serif;
    border: 2px solid var(--vertclair);
    border-radius: 4px;
    margin-right: 10px;
    margin-left: 10px;

}

/*MOT DE PASSE OUBLIE*/
#mdpOublie{
    padding:5rem;
    height:78vh;
}
#mdpOublie .wrap{
    display:flex;
    flex-flow:column;
    align-items: center;
    gap:5rem;
}
#mdpOublie .wrap .txt{
    display:flex;
    align-items:center;
    flex-flow:column;
    gap:2rem;
}
#mdpOublie form{
    display:flex;
    flex-flow:column;
    align-items: center;
    gap:2rem;
    width:50%;
}
#mdpOublie .erreur{
    color:red;
}
#mdpOublie .button{
    border: solid 1px var(--vertclair);
    border-radius:10px;
    color:white;
    background-color: var(--vertclair);
    padding:1rem 2rem;
    font-size:1rem;
    font-weight: bold;
    cursor:pointer;
    margin-bottom:2rem;
    display:flex;
    gap:2rem

}
#mdpOublie .button:hover{
    background-color: var(--verthover) ;
}


/*AJOUT*/
#photo_add{
    padding:5rem;
    height:78vh;
}
#photo_add form{
    display:flex;
    flex-flow:column;
    align-items: center;
    justify-content: center;
    gap:5rem;
}
#photo_add form div{
    display:flex;
    flex-flow:column;
    align-items:center;
    gap:1rem;
}
#photo_add .button{
    width: 140px;
    height: 45px;
    font-size: 11px;
    font-family: "Source Sans Pro" , sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    display: flex;
    margin: 0 auto;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;

}
#photo_add .button:hover{
    background-color: var(--vertclair);
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}



/*DISPOS PARENTS*/
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}
.chargement {
    background-color: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    z-index: 99;
}
.chargement h1 {
    margin: auto;
    color: white;
}
.red {
    color: red;
    background-color: #eb8d9e ;
    border-radius: 5px;
    padding: 2px;
}
.redBG {
    background-image: linear-gradient(45deg, #ee617d 25%, #eb8d9e 25%, #eb8d9e 50%, #ee617d 50%, #ee617d 75%, #eb8d9e 75%, #eb8d9e 100%);
    background-size: 42.43px 42.43px;
}
.paginationDiv .pagination {
    padding: 10px 18px 10px 18px;
    border-radius: 50%;
    background-color: white;
    margin: 12px 1rem;
    font-size: 1.2rem;
    font-weight: bold;

}
.paginationDiv {
    display: flex;
    justify-content: center;
}

/* page vie privée */
.vieprivée{
    margin-top: 2rem;
}
/* page mentions legales */
.condition{
    margin-top: 2rem;
}


/*ADMIN*/
#admin{
    padding:5rem 0;
}
.table {
    margin: 0 0 40px 0;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: table; }



/* RESPONSIVE */

/* Accueil */

@media screen and (max-width: 1000px) {
   #sectionCentrale .boite {
       margin:20px auto 0 auto;
       width: 60%;
       height: auto;
   }
    #sectionCentrale .flex .sb{
        display: block;
    }
    #sectionCentrale {
        display: block;
    }
    .palmier {
        display:none;
    }
    .palmier2 {
         display:none;
     }

    .diagVerte {
        display: none;
    }
    .avis img {
        width: 20%;
        height: 30%;
        margin-bottom: 2rem;

    }


}
@media screen and (max-width: 590px) {
    .avis .flex {
        display: block;
        margin: 1rem;
    }
    .textAvis{
        font-size: 1.3rem;
    }
    .avis img{
        width: 20%;
    }
}
@media screen and (max-width: 380px) {
    #flexsliderTexte .flex{
        display: block;
    }
    #flexsliderTexte .moitieTexte{
        width: auto;
    }
    #sectionCentrale .boite p{
        font-size: 1rem;
    }
    
}

/* Connexion */

@media screen and (max-width: 1004px)  {
    #connexion .wrap{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 0;
    }
    #connexion .separator{
        display: none;
        height: 0px;
    }
    #connexion .textPart{
        gap: 0;
    }

    #connexion .textPart h3{
        width: 341px;
    }
}
@media screen and (max-width: 340px) {
    #connexion .button{
        font-size: 10px;
    }
    #connexion .textPart h3{
        width: 330px;
        text-align: center;
    }
    #connexion .textPart a{
    font-size: 10px;
    }   
}

@media screen and (max-width: 1300px){
    footer .diagVerte{
        display: none;
    }

}
@media screen and (max-width: 1100px){
    #flexsliderTexte{
        padding: 3rem;
    }
}
@media screen and (max-width: 915px){
    #flexsliderTexte h2{
        font-size: 1rem;
    }
}
/* header responsive */

@media screen and (max-width: 800px) {
    
    header li .flex a{
        padding: 20px;
        width: 70%;
    }

    footer .separator {
        display: none;
    }
    footer .wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}



@media screen and (max-width: 608px) {
    header li .flex a{
        padding: 8px;
        width: 50%;
        font-size: 10px;
    }
}

/*  Inscription  */
@media screen and (max-width: 500px) {
    header li{
        width: 40%;
    }
    header li .flex a {
        padding: 5px;
        font-size: 6px;
        margin-right: 10px;
    }
    .spring {
        width: 20rem;
        margin-bottom: 2rem;
    }

    #inscriptionChoix .boutonChoix {
        gap: 0;
        margin-left: 2rem;
        margin-right: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem;
        font-size: 2rem;
        height: auto;
        width: 100px;

    }
    #inscriptionChoix > div > h2 {
        margin: 1rem;
        text-align: center;
        font-size: 2rem;
    }
    #inscriptionChoix .wrap {
      gap: 0;
    }
    #inscriptionChoix > div > div.boutonChoix > div > a {
        padding: 3rem;
        font-size: 2rem;
    }
}


@media screen and (max-width: 580px) {
    .table {
        display: block; } }

.row {
    display: table-row;
    background: #f6f6f6; }
.row:nth-of-type(odd) {
    background: #e9e9e9; }
.row.header {
    font-weight: 900;
    color: #ffffff;
    background: #ea6153; }
.row.green {
    background: #27ae60; }

@media screen and (max-width: 580px) {
    .row {
        padding: 14px 0 7px;
        display: block; }
    .row.header {
        padding: 0;
        height: 6px; }
    .row.header .cell {
        display: none; }
    .row .cell {
        margin-bottom: 10px; }
    .row .cell:before {
        margin-bottom: 3px;
        content: attr(data-title);
        min-width: 98px;
        font-size: 10px;
        line-height: 10px;
        font-weight: bold;
        text-transform: uppercase;
        color: #969696;
        display: block; } }

.cell {
    padding: 6px 12px;
    display: table-cell; }
@media screen and (max-width: 580px) {
    .cell {
        padding: 2px 16px;
        display: block; }
}

/* page dispoDetail */
@media screen and (max-width: 1190px){
    .dispoDetails h2{
        text-align: center;
        margin-left: 0rem;
    }
}
@media screen and (max-width: 950px) {
    .dispoDetails h2{
        font-size: 15px;
    }
}
@media screen and (max-width: 900px){
    .dispoDetails .dispoMap{
        height: 290px;
    }
}

@media screen and (max-width: 540px) {
    .dispoDetails h1{
        font-size: 27px;
    }
    .detailp p{
        font-size: 20px;
    }
    #profil .profil_mid .mid_txt{
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
    }

    
}



