:root {
    --vert: #4f805d;
    --vertclair: #00CE15;
}
* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

a{text-decoration: none}

body {
    background-color: lightgray;
    color: black;
    font: 400 13px/1.3 verdana, sans-serif;
    overflow-x: hidden;
}


ul, ol {
    list-style: none;
}

img {
    width: 100%;
}

.clear:before, .clear:after {content: ' '; display: table;}
.clear:after {clear: both;}
.clear {*zoom: 1;}


.wrap {
    max-width: 1440px;
    margin: auto;
    width: 100%;
}

.flex {display: flex;}
.column {flex-direction: column}
.sb {justify-content: space-between}
.sa {justify-content: space-around}
.bold {font-weight: bold}
.relative {position: relative}
.absolute {position: absolute}



/*HEADER*/
header{
    background-color:white;
}

/*FOOTER*/
footer .separator {
    border-left:solid 1px white;
    height:70px;
}
footer .diagVerte{
    width: 0;
    height: 0;
    border-bottom: 100px solid var(--vertclair);
    border-left: 2560px solid transparent;
}
footer .footerContent{
    padding:2rem 0;
    background-color:var(--vertclair) ;
}
footer .navFooter a{
    color:white;
}
footer .wrap{
    justify-content: center;
    gap:5rem;
}
footer .reseauxFooter{
    display:flex;
    align-items: center;
}
footer .logoFooter a img{
    width:200px;
}

footer .reseauxFooter{

}



 /*ACCEUIL*/
.flexslider {
    width: 100%;
    max-width: 1220px;
    height: 600px;
    overflow: hidden;
    margin: 0 auto 5rem auto;
}
.flexslider img {
    transform: translateY(-15%);
}
#flexsliderTexte {
    padding: 3rem;
    border-radius: 20px;
    z-index: 10;
    background-color: white;
    bottom: -35px;
    left: 50%;
    transform: translate(-50%, 0);
    border-top: 4px solid var(--vertclair);
    border-right: 4px solid var(--vertclair);
    border-left: 4px solid var(--vertclair);
    text-align: center;
}
#flexsliderTexte .moitieTexte {
    width: 45%;
}
#flexsliderTexte .moitieTexte h3 {
    text-decoration: underline;
}
#flexsliderTexte .moitieTexte a {
    text-decoration: none;
}
#flexsliderTexte .moitieTexte a p {
    border-radius: 20px;
    padding: 10px;
    color: white;
    background: var(--vertclair);
}

#sectionCentrale .boite {
    background-color: white;
    width: 31%;
    border-top: 4px solid var(--vertclair);
    border-right: 4px solid var(--vertclair);
    border-left: 4px solid var(--vertclair);
    text-align: center;
    border-radius: 20px;
}
#sectionCentrale .boite i {
    color: var(--vertclair);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 2rem;
}
#sectionCentrale .boite:nth-of-type(2) i {
    color: #F4DE18;
}
.avis img {
    width: 100px;
}
.avisNounous {
    height: 0;
}
#btnNounous, #btnParents {
    padding: 0.5rem;
    border-radius: 20px;
    background-color: white;
    border-top: 4px solid var(--vertclair);
    border-right: 4px solid var(--vertclair);
    border-left: 4px solid var(--vertclair);
    text-align: center;
}
.avisNounous, .avisParents  {
    overflow: hidden;

}
